@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'DM Sans', sans-serif;
}

:root {
  --default-font-family: 'DM Sans', 'sans-serif';
  --default-font-color: #475569;
}

@layer base {
  :host {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  :host::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100%;
  font-family: var(--default-font-family), sans-serif;
  color: var(--default-font-color);
}

body {
  overscroll-behavior-y: contain;
}

h2 {
  @apply text-2xl font-bold;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold tracking-tight;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

hr {
  @apply border-t border-[var(--border-color)] my-[1.8rem];
}

/*
  @layer components {
  }
 */
